*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    color: #3c96ed;
    text-decoration: none;
}

body{
    background: #FAFAFA;
    height: 100%;
    width: 100%;
}